body {
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
}


.links {
  display: flex;
  justify-content: space-between;

}

.links-child {
    background-color: rgb(166, 98, 98);
    border: 2px solid black;
  font-size: 20px;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: auto;
}

#right {
display: flex;
justify-content: center;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-erea{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#modle{
  display: flex;
  justify-content: start;
  margin: auto;
  padding: auto;
}

#category{
      display: flex;
  justify-self: left;
  align-items: center;
}
img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
#gallows{
  display: flex;
  justify-content: space-between;
}